body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


hr {
    border: dotted white 6px;
    border-bottom: none;
    margin: 3rem auto;
    width: 40%;
}


.logo-img {
    height: 100px;
    display: inline-block;
    margin: 2rem;
}


h2 {
    text-transform: uppercase;
    position: relative;
}

.house {
    padding: 0.5rem;
    display: inline-block;
    margin: 1.25rem;
    height: 43rem;
    width: 15rem;
    border: 1.25rem solid;
    position: relative;
}

.part1-characteristics {
        position: relative;
}

.part2-housecrest {
        position: relative;
}

.housecrest-img {
    height: 10rem;
}

.part3-pokemontypes {
    text-align: left;
    text-transform: uppercase;
    position: relative;
}

.pokemontype-img {
    height: 30px;
    display: inline-block;
    position: relative;
}

.invisible {
    height: 30px;
    visibility: hidden;
}

#gryffindor {
    background: linear-gradient(45deg, #dc9e34, #d31b15);
    border-image: url("./assets/images/gryffindor-background.jpg") 50 round;
}

#slytherin {
    background: linear-gradient(45deg, #b2b2b2, #197017);
    border-image: url("./assets/images/slytherin-background.jpg") 70 round;

}

#ravenclaw {
    background: linear-gradient(45deg, #ac6c50, #01337a);
    border-image: url("./assets/images/ravenclaw-background.jpg") 50 round;
}

#hufflepuff {
    background: linear-gradient(45deg, #24221f, #d4b12f);
    border-image: url("./assets/images/hufflepuff-background.jpg") 20 round;
}