body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-transform: uppercase;
}

hr {
    border: dotted white 6px;
    border-bottom: none;
    margin: 3rem auto;
    width: 40%;
}

.house {
    padding: 0.5rem;
    display: inline-block;
    margin: 20px;
    height: 690px;
    width: 160px;
    border: 20px solid;
}

.logo-img {
    height: 100px;
    display: inline-block;
    margin: 2rem;
}

.house-img {
    height: 10rem;
}

.type-img {
    height: 30px;
    display: inline-block;
}

.type-name {
    text-align: left;
    text-transform: uppercase;
}

.invisible {
    height: 30px;
    visibility: hidden;
}

#gryffindor {
    background-color: #d31b15;
    color: #dc9e34;
    border-image: url("./assets/images/gryffindor-background.jpg") 50 round;
}

#slytherin {
    background-color: #197017;
    color: #b2b2b2;
    border-image: url("./assets/images/slytherin-background.jpg") 70 round;

}

#ravenclaw {
    background-color: #01337a;
    color: #ac6c50;
    border-image: url("./assets/images/ravenclaw-background.jpg") 50 round;
}

#hufflepuff {
    background-color: #d4b12f;
    color: #24221f;
    border-image: url("./assets/images/hufflepuff-background.jpg") 20 round;
}